local_ip={{host.ip}}
{% if host.public_ip -%}
public_ip={{host.public_ip.v4}}
public_hostname={{host.name | std.replace(clearwater.private_domain, clearwater.public_domain) }}
{% else %}
public_hostname={{host.name}}
{% endif %}
etcd_cluster="{{ clearwater.vellum | map(attribute="host") | map(attribute="ip") | sort | join(",") }}"
